# Byte-compiled / cache files
__pycache__/
*.pyc

# Virtual environment
.env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Databases and generated data
database/*.db
data/processed/*
data/raw/*

# Downloads and temporary extracted files
data/downloads/
data/downloads/*
data/downloads/temporary/

# Airflow logs and temporary files
logs/
airflow_home/
*.log

# Screenshots, large binary files
screenshots/*
reports/*.pptx
reports/*.pdf

# VS Code settings
.vscode/
