# Python

__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# Virtual environments

venv/
.env/
.venv/

# Jupyter

.ipynb_checkpoints/

# Airflow

airflow/airflow.db
airflow/airflow-worker.pid
airflow/airflow.cfg
airflow/webserver_config.py
airflow/logs/
airflow/plugins/__pycache__/

# SQLite DBs created by pipeline

database/*.db
database/*.sqlite
*.db

# XCom / temp Airflow files

xcom/
*__temp__


# Kaggle Downloads

downloads/
*_dataset.zip
*.zip

# Raw and processed data

data/raw/
data/processed/
data/temp/


# OS / Editor noise

.DS_Store
Thumbs.db


# VSCode / IDE

.vscode/
.idea/


# Git metadata backups

*.orig


# Logs

logs/
*.log


# Compiled artifacts

build/
dist/
*.egg-info/

